{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <a href="{{ path('app_homepage') }}">Homepage</a>
    <br>
    <br>
    <br>
    <a href="{{ path('app_product_index') }}">Product</a>
{% endblock %}
